.about_grid{
    margin-top: 20px;
    margin-bottom: 20px;
}
.about_section{
    border-radius: 10px;
    padding-left: 30ex;
    padding-right: 30ex;
    /* box-shadow: rgba(0, 0, 255, 0.474) 0px 2px 5px -1px, rgb(3, 19, 244) 0px 1px 3px -1px; */
    height: auto;
}
.about_content{
    width: 100%;
    padding: 15px;
    display: flex;
    gap: 40px;
    box-sizing: border-box;
}
.about_content_image{
    width: 30%;
    text-align: right;
}
.about_content > div > img{
    width: 240px;
}
.about_me{
    width: 50%;
}
.about_me > p{
    width: 100%;
    color: gray;
    font-size:large;
    font-weight: 500;
}
.about_me > h2{
    color:rgb(0, 121, 251);
}

@media only screen and (max-width: 1300px) {
    .about_grid{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .about_section{
        padding-left: 15ex;
        padding-right: 15ex;
    }
    .about_content{
        width: 100%;
    }
    .about_content_image{
        text-align: center;
        width: 40%;
    }
    .about_me{
        width: 50%;
        text-align: center;
    }
}
@media only screen and (max-width: 800px) {
    .about_grid{
        height: auto;   
        overflow-x: clip;
    }
    .about_section{
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .about_content{
        display: block;
        width: 100%;
    }
    .about_content_image{
        width: 100%;
    }
    .about_me{
        width: 100%;
    }
    .about_me > p{
        font-size:17px;
    }
}