.contact_container{
    background-color: aliceblue;
    height: 12cm;
    padding-top: 0.5cm;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-bottom: 0.5cm;
}
.contact_grid{
    padding: 1cm;
    height: 9.8cm;
}
.contact_heading{
    text-align: center;
}
.contact_content{
    display: flex;
    padding-left: 6cm;
    padding-right: 5.5cm;
    gap: 2rem;
}
.contact_left{
    color: gray;
    font-size:large;
    font-weight: 500;
    position: relative;
    top: 1cm;
    display: contents;
}
.contact_right {
    height: 5cm;
    width: 5cm;
    font-size: 1.2rem;
    font-weight: 700;
    color: #4f4f4f;
}
.contact_right > form > div > input{
    width: 250px;
    height: 20px;
}
.contact_right > form > div > textarea{
    width: 250px;
    height: 100px;
}
@media screen and (max-width: 1300px) {
    .contact_container {
        /* height: auto;
        padding: 1rem; */
        padding-top: 0.3cm;
        padding-left: 1cm;
        padding-right: 1cm;
        height: 10cm;
    }
    .contact_grid {
        /* height: auto;
        padding: 1rem; */
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 50px;
        height: 9cm;
    }
    .contact_content{
        padding-left: 1cm;
        padding-right:2.1cm;
    }
    .contact_left {
        padding: 0;
        margin-bottom: 1rem;
        top: 0;
    }
    .contact_right {
        width: 260px;
        height: auto;
    }
}
@media screen and (max-width: 700px) {
    .contact_container{
        padding: 0.3cm;
        height: 500px;
    }
    .contact_right {
        height: 7cm;
        position: absolute;
        left: 150px;
    }
    .contact_right > form > div > input{
        width: 100%;
        height: 20px;
    }
    .contact_right > form > div > textarea{
        width: 100%;
        height: 100px;
    }
    .contact_left{
        display: inline-block;

    }
    .contact_content{
        display: contents;
    }
}