.contact_grid{
    margin-top: 20px;
    height: auto;
    margin-bottom: 20px;
}
.contact_section{
    padding-left: 30ex;
    padding-right: 30ex;
}
.contact_content{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.contact_heading{
    text-align: center;
    color:rgb(0, 121, 251);
}
.contact_me{
    gap: 15px;
    padding: 10px;
    display: flex;
    
}
.contact_left{
    width: 50%;
    padding-left: 10px;
    color: gray;
    font-size:large;
    font-weight: 500;
}
.contact_right {
    width: 50%;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #4f4f4f;
    /* text-align: center; */
}
.contact_right > form{
    display: grid;
    gap: 15px;
}
.contact_right > form > div{

}
.contact_right > form > div > label {
    width: 100px;
    
    display: inline-block;
    text-align: center;
}
.contact_right > form > div > input{
    width: 350px;
    height: 30px;
}
.contact_right > form > div > textarea{
    width: 350px;
    height: 100px;
}
@media screen and (max-width: 1300px) {
    .contact_grid {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .contact_section {
        padding-left: 15ex;
        padding-right: 15ex;
    }
}
@media screen and (max-width: 1000px) {
    .contact_right > form{
        gap: 5px;
    }
    .contact_right > form > div > label {
        text-align: left;
    }
    .contact_right > form > div > input{
        width: 300px;
        height: 30px;
    }
    .contact_right > form > div > textarea{
        width: 300px;
        height: 100px;
    }
}
@media screen and (max-width: 800px) {
    .contact_section{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .contact_content{
        width: 100%;
    }
    .contact_me{
        display: block;
    }
    .contact_left{
        font-size: 17px;
        width: 100%;
    }
    .contact_right {
        width: 100%;
        text-align: center;
       
    }
}
@media screen and (max-width: 450px) {
    .contact_right > form > div{
        width: 250px;
    }
    .contact_right > form > div >input{
        width: 200px;
    }
    .contact_right > form > div > textarea{
        width: 200px;
    }
}