.exp_grid{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
}
.exp_section{
    padding-left: 30ex;
    padding-right: 30ex;
}
.exp_content{
    width: 100%;
    box-sizing: border-box;
}
.exp_content > h2{
    text-align: center;
    margin-block-start: 0.50em;
    margin-block-end: 0.50em;
    color:rgb(0, 121, 251);
}
.exp_company1{
    display: block;
    width: 100%;
    padding: 10px;
    /* padding-left:25ex; */
}
.exp_company1 > div{
    width: 100%;
    /* text-align: center; */
}
.exp_company1 > div > p{
    width: 100%;
    color: gray;
    font-size:large;
    font-weight: 500;
}
.exp_company2{
    display: block;
    width: 100%;
    padding: 10px;
    /* padding-left:25ex; */
}
.exp_company2 > div{
    width: 100%;
    /* text-align: center; */
}
.exp_company2 > div > ul{
    display: block;
    font-size: large;
}
.exp_company1 > div > ul{
    display: block;
    font-size: large;
}
.exp_company2 > div > ul > li::before{
        width: 90%;
        margin-top: 0px;
        margin-right: 0px;
        gap: 5px;
        overflow-x: clip;
        font-weight: 500;
        justify-content: left;
        align-items: center;
}
@media only screen and (max-width: 1300px ) {
    .exp_grid{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .exp_section{
        padding-left: 15ex;
        padding-right: 15ex;
    }
}
@media only screen and (max-width: 800px ) {
    .exp_section{
        padding-left: 1rem;
        padding-right: 1rem;
        overflow-x: clip;
    }
    .exp_content{
        display: block;
        width: 100%;
    }
    .exp_company1{
        width: 90%;
    }
    .exp_company1 > div > p{
        font-size:17px;
    }
}