.footer_grid{
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
}
.footer_section{
    padding-left: 30ex;
    padding-right: 30ex;

}
.footer_content{
    text-align: center;
}
.footer_content > div > h1{
    color: red;
}
.footer_social > a{
    padding-left: 30px;
}
@media screen and (max-width: 800px) {
    .footer_grid {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .footer_section {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .footer_content > div > h1{
        font-size: 17px;
    }
    .footer_social > a {
        padding-left: 10px; /* Adjust as needed */
    }
}
@media screen and (max-width: 4750px) {

}
