.footer-grid{
    color: blue;
    text-align: center;
    padding-left: 10cm;
    padding-right: 10cm;
}
.footer{
    text-align: center;

}
.footer_social > a{
    padding-left: 30px;
}
@media screen and (max-width: 1300px) {
    .footer-grid{
        padding: 5px;
    }
    .footer{
        display: inline-block;
    }
}
@media screen and (max-width: 500px) {
    .footer-grid {
        padding-left: 5px;
        padding-right: 5px;
        height: auto;
    }
    .footer {
        text-align: center;
    }
    .footer_social > a {
        padding-left: 15px; /* Adjust as needed */
    }
}
