.Header-grid {
    position: sticky;
    backdrop-filter: blur(15px);
    top: 0px;
    padding: 15px;
    justify-content: center;
}

.header {
    background-color: rgb(232 121 249);
    padding: 10px;
    border-radius: 10px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.header_name {
    color: black;
    width: 20%;
    padding: 5px;
    text-align: center;
    align-self: center;
}
.navbar_section{
    width: 70%;
    
    padding: 5px;
}
ul {
    display: flex;
    width: 95%;
    margin-top: 0px;
    gap: 10px;
    overflow-x: clip;
    list-style-type: none;
    font-weight: 800;
    justify-content: right;
    align-items: center;
}

li > a {
    text-decoration: none;
    padding: 8px;
    color: firebrick;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    height: 40px;
}
.open_menu{
    display: none;
}
li > a:hover{
    color: yellow;
    border-radius: 10px;
    background-color: black;
}

/* Media query for screens with a maximum width of 600px */
@media only screen and (max-width: 1200px) {
    
      
}
@media only screen and (max-width:800px) {
    .header_name{
        font-size: 15px;
        text-align: left;
    }
    .open_menu{
        display: flex;
        align-items: center;
    }
    .open{
       background-color: aquamarine;
       width: auto;
        display: block;
        border-radius: 20px;
        transition: all 0.5s ease-in;
        transform: translateY(5rem);
    }
    .close{
        display: none;
        
    }
    .open > li{
        text-align: center;
    }
}