.home-grid {
    background-color: white;
    color: white;
    height: 35rem;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
}
.home_section{
    display: flex;
    padding-left: 30ex;
    padding-right: 30ex;
}
.home {
    padding: 15px;
    justify-content: space-between;
    border-radius: 10px;
    justify-content: center;
}
.home_content_right {
    padding: 10px;
}
.home_content_right > img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.home_content{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.home_content_left > div  p{
    font-size: 20px;
    font-weight: 500;
    color: gray;
}
.tech_stack_container{
    display: block;
    margin: 15px;
}
.tech_stack_frontend{
    display: flex;
    padding: 10px;
    gap: 25px;
}
.tech_stack_frontend_title{
    width: 100px;
    padding-bottom: 0px;
}
.tech_stack_backend{
    display: flex;
    padding: 10px;
}
.tech_stack_backend_title{
    width: 100px;
}
.hero_details{
    display: flex;
    padding: 10px;
    width: fit-content;
    gap: 10px;

}
.hero_details > div{
    width: 60px;
    height: 50px;
    text-align: center;
}
@media only screen and (max-width: 1300px) {
    .home-grid {
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .home_section{
        display: flex;
        padding-left: 15ex;
        padding-right: 15ex;
    }
    .home_content{
        justify-content: space-between;
    }
    .home_content_right > img{
        width: 240px;
        height: 250px;
    }
}
@media only screen and (max-width: 800px) {
    .home-grid{
        /* position: absolute; */
        height: auto;
        text-align: center;
        width: 100%;
    }
    .home_section{
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .home_content{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .home_content_left{
        order: 2;
    }
    .home_content_right{
        width: 50%;
        order: 1;
    }
    .home-right > img{
        width: 250px;
        height: 250px;
    }
}
@media only screen and (max-width: 600px) {
    .home-right > img{
        width: 250px;
        height: 250px;
    }
    .content > div > h1{
        font-size: 20px;
    }
    .content >div > p{
        font-size: 18px;
    }
}
@media only screen and (max-width: 450px) {
    .home_content_right{
        width: 280px;
        height: 280px;
    }
}